<!DOCTYPE html>
<html>

<head>
    <title>
        About
    </title>
    <link rel="icon" href="./image/download.png">
    <link rel="stylesheet" href="./css/style1.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
<p>This website is created to fetch live weather forecast for users.</p>
        <img class="robo" src="./image/about.jpg">
        <p>
            {{reason}}
        </p>


    </div>



    {{>footer}}
</body>

</html>