<!DOCTYPE>
<html>

<head>
    <title>Error</title>
    <link rel="icon" href="/image/download.png">
    <link type="text/css" rel="stylesheet" href="/css/style1.css">
</head>


<body>
    <div class="main-content">
        {{>header}}
        <p>
          {{errorMessage}}
        </p>
    </div>

    {{>footer}}
</body>


</html>