<!DOCTYPE html>
<html>

<head>
    <title>
        Help
    </title>
    <link rel="icon" href="./image/download.png">
    <link rel="stylesheet" href="./css/style1.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>
            {{reason}}
        </p>


    </div>
    {{>footer}}
</body>

</html>